<!DOCTYPE html>
<html lang="zh-CN">
<head>

    <meta charset="UTF-8">
    <META HTTP-EQUIV="pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
    <META HTTP-EQUIV="expires" CONTENT="0">
    <title>Welcome</title>
    <link rel="stylesheet" href=../static/css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
<div class="materialContainer">
	<div class="box">
		<div class="title">请选择您的登录方式</div>
		<div class="button login">
            <button id="blogLogin" onclick="window.location.href= '../static/passwordLogin.html' ">
				    <span>密码登录</span>
                    <i class="fa fa-check"></i>
            </button>
        </div>
        <div class="button login">
            <button id="backLogin" onclick="window.location.href='../static/register.html'">
				    <span>注册</span>
                    <i class="fa fa-check"></i>
            </button>
        </div>
	</div>
</div>

</body>
</html>